<input type="text" placeholder="Título de la serie" [(ngModel)]="serie.titulo">
<br>
<input type="text" placeholder="Sinopsis" [(ngModel)]="serie.sinopsis">
<br>
<input type="number" placeholder="Temporadas" [(ngModel)]="serie.numeroTemporadas">
<br>
{{ serie | json }}
<!--
<select (click)="cambiarImagen($event)">
    <option value="netflix.jpg">Netflix SE VE</option>
    <option value="hbo.jpg">HBO SE VE</option>
    <option value="primevideo.jpg">Prime Video SE VE</option>
</select>
<br>
<img [src]="imagen" width="200px">
-->
<br>
<button (click)="crearSerie()">Crear serie</button>
<button (click)="limpiar()">Limpiar formulario</button>
