<!--<app-encabezado></app-encabezado>
<app-formulario-creacion></app-formulario-creacion>
<app-listado-series></app-listado-series>
<app-pie></app-pie>
<router-outlet></router-outlet>-->
<app-componente-template></app-componente-template>
<app-directivas-estructurales></app-directivas-estructurales>
<app-encabezado></app-encabezado>
<app-encabezado-principal></app-encabezado-principal>
<app-encabezado-secundario></app-encabezado-secundario>
<app-formulario-creacion></app-formulario-creacion>
<app-listado-series></app-listado-series>
<app-catalogo-productos></app-catalogo-productos>