@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

.cards {
    float:left;
 }
  
 .card {
    height: 200px;
    width: 200px;
    background-color: rgb(57, 57, 57);
    margin-bottom: 10px;
    padding: 1em;
    box-shadow: 2px 2px rgb(0, 0, 0);
    color:white;
    margin:5px;
 }