.nivel1 {
    width: 100%;
    height: 10em;
    background-color: bisque;
}
.colores-inversos {
    background-color: black;
    color:white;
}
.activado {
    background-color: green;
    color:white;
}
.desactivado {
    background-color: red;
    color:white;
}
.caro {
    background-color: red;
    color:white;
}
.barato {
    background-color: greenyellow;
    color: black;
}
.saldo {
    font-weight: bolder;
    font-style: italic;
}
